.home-header {
    text-align: center;
  }
  .home-header h2 {
    color: #0080ff;
    font-size: 2 rem;
  }
  .home-header h1 {
    color:rgb(96,113,204);
    font-size: 3 rem;
    margin-bottom: 1 rem;
  }
  .home-header h1 span{
      color: #b0c4de;
  }
  .home-header p{
      color: #a9a9a9;
      font-weight:500;
  }